<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

    <title>Formulario de Reserva</title>
</head>

<body>
    <h1>Reserva de viajes de aventura</h1>
    <form method="post" action="/confirmacion">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br>
        <label for="apellido">Apellidos:</label>
        <input type="text" id="apellido" name="apellido" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="destino">Destino:</label>
        <select id="destino" name="destino">
            <option value="Austria">Austria</option>
            <option value="Bélgica">Bélgica</option>
            <option value="Dinamarca">Dinamarca</option>
            <option value="Eslovaquia">Eslovaquia</option>
            <option value="España">España</option>
            <option value="Finlandia">Finlandia</option>
            <option value="Francia">Francia</option>
            <option value="Georgia">Georgia</option>
            <option value="Irlanda">Irlanda</option>
        </select>
        <br>
        <label for="telefono">Teléfono:</label>
        <select id="telefono_prefijo" name="telefono_prefijo">
            <option value="+34">(+34) </option>
            <option value="+45">(+45) </option>
        </select>
        <input type="text" id="telefono_numero" name="telefono_numero" required>
        <br>
        <label for="fecha">Fecha:</label>
        <select id="fecha" name="fecha">
            <option value="2024-02-25">25 de Febrero de 2024</option>
            <option value="2024-02-26">26 de Febrero de 2024</option>
            <option value="2024-02-27">27 de Febrero de 2024</option>
            <option value="2024-02-28">28 de Febrero de 2024</option>
            <option value="2024-02-29">29 de Febrero de 2024</option>
            <option value="2024-02-30">30 de Febrero de 2024</option>
        </select>
        <br>
       <label for="necesidades" id="necesidades" name="necesidades">Necesidades</label>
       <select id="necesidades" name="necesidades">
        <option value="Física">Discapacidad física</option>
        <option value="Auditiva">Discapacidad auditiva</option>
        <option value="Visual">Discapacidad visual</option>
        <option value="Otras">Otras</option>
        <option value="Ninguna">Ninguna</option>
        <br>
        
        <input type="submit" value="Enviar Reserva">
    </form>
</body>
</html>